@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

video {
  max-width: 100%;
}

.video {
  max-width: 100%;
}

.nav-link {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.masonry .item video {
  max-width: 100%;
  border-radius: 15px;
}

.inner-header .advanced-search .input-group {
  max-width: 95%;
}

.bids-img {
  height: 75%;
  object-fit: contain;
}

.history-bid-section span:hover {
  color: #929191;
}

.edit-profile video {
  width: 35%;
  margin-bottom: 20px;
}

button.btn.btn-warning.font-weight-bold {
  z-index: 10;
}

.center-100 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  flex-direction: column;
}

.rounded-link {
  padding: 8px;
  background: #fcc108;
  border-radius: 25px;
}

.rounded-link a {
  color: #fff;
}

.rounded-link:hover {
  background: #e4af07;
  transform: translateY(-2px);
  box-shadow: 2px 2px #eee;
}

.rounded-black-btn {
  background-color: #0A3228 !important;
  box-shadow: 0px 0px 20px #0000001c !important;
  border-radius: 60px !important;
  padding: 6px 32px !important;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #0A3228 !important;
  line-height: 24px;
}

.rounded-black-btn:hover {
 color: #fff !important;
 background-color: #0A3228 !important;

}

.filter-widget .links a {
  color: #000;
}

.filter-widget .links a:hover {
  color: #e4af07;
}

.rounded-svg {
  background: #d5dcda;
  padding: 15px;
  object-fit: contain;
  /* border-radius: 50%; */
  position: absolute;
  bottom: 10px;
  right: 25px;
  cursor: pointer;
}

.rounded-svg img {
  height: 25px;
  width: 25px;
}

.search-btn {
  top: 0 !important;
  right: -24px !important;
}

.slicknav_btn {
  border: none;
}

.creator-avartar {
  min-height: 60px !important;
  max-height: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
  border-radius: 30px !important;
  object-fit: cover;
}

.form-group.row select {
  border: 1px solid #70707024;
  border-radius: 9999px;
}

.fullscreen-enabled {
  z-index: 9999;
  position: fixed;
  margin: auto;
  width: 95%;
  height: 95%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
}

.fullscreen-enabled img {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.meanmenu-reveal {
  right: 0px;
  left: auto;
  text-align: center;
  text-indent: 0px;
  font-size: 18px !important;
}

.search-dropdown {
  position: absolute;
  top: 52px;
  width: 85%;
  background: #fff;
  z-index: 500;
}

.search-dropdown .item-container {}

.search-dropdown .item-container .item {
  display: flex;
  cursor: pointer;
  color: #000;
  padding: 2% 4%;
}

.search-dropdown .item-container .item:hover {
  background: #f1f1f1;
}

.search-dropdown .item-container .item img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.search-dropdown .item-container .item video {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.search-dropdown .item-container .item-content {
  padding-left: 4%;
}

.search-dropdown .item-container .item-content .faded-text {
  opacity: 0.8;
  font-size: 14px;
}

.backdoor {
  position: absolute;
  height: 100vh;
  width: 160vh;
  top: -60px;
  left: -100%;
  z-index: -1;
}

.creator-avatar-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.topheader-button-list .dropdown-content {
  z-index: 5;
}

img.img-fluid.creator-image {
  height: 50px;
  object-fit: cover;
}

.report-pop-up{
  position: absolute;
  background: #fff;
  transform: translateX(-32px) translateY(-40px);
  padding: 0%;
  border-radius: 15px;
}

.report-pop-up p {
  color: red;
  padding: 8px;
  margin: 0;
}

.report-pop-up:hover {
  cursor: pointer;
  background: #eee; 
}

.about-image {
  position: relative;
 
}
.fullscreen-enabled video {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img.img-fluid.user-img {
  width: 53px;
  height: 53px;

}


.no-creators-containter{
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.box-shadow-1{
  box-shadow: 0px 0px 30px #0000001a;
}

.my-select{
  box-shadow: inset 0 0 0 1px #bfbfbf  !important;
}
.my-select:focus{
  box-shadow: inset 0 0 0 2px #2166f1 !important;
}

.cover-btn{
  margin: 0px auto;
  width: 50%;
  float: left;
  border: 1px solid #FDC644;
}

.loader-size{
  display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.loader-size img{
  height: 100px;
  width: 100px;
  animation: 10s ease-out 0s 1 scaleAnimation;

}

@keyframes scaleAnimation {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(8);
  }
}